/* ---------------------^o^--- Code By Rajdev Yadav ---^o^--------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f1f1ff;
}

/* ---------------------------------------------- */
/* --------- HEADER --------  */
/* ---------------------------------------------- */
.header {
    height: 10vh;
    padding: 1rem 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px #80808054;
}

.header h1 {
    color: #0f467c;
}

.header a {
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    color: #689187;
}

a.active {
    background-color: #0f467c;
    color: white;
}

#mobile {
    display: none;
}

@media screen and (max-width: 769px) {
    #mobile {
        display: block;
    }
    nav {
        position: absolute;
        top: 0px;
        right: -300px;
        width: 300px;
        background-color: #0f467c;
        background-color: white;
        height: 100vh;
        padding: .5rem;
        transition: all .5s ease;
        box-shadow: -2px -3px 4px #80808046;
        border-radius: 5px;
    }
    nav.active-nav{
        right: 0px;
    }
    nav a{
        display: block;
        /* background-color: #1e8fff5a; */
        margin: .5rem 0;
    }
   .header button{
        outline: none;
        border: none;
        background-color: #0f467c;
        color: white;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s ease;
        font-size: 18px;
    }
  
}

/* ---------------------------------------------- */
/* -------------- Header Responsiveness --------- */
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* ---------------------------------------------- */